
.list-container {
  padding: 2px;
  margin: 0;
  height: 250px;
  overflow: auto;
  > li {
    list-style: none;
    cursor: pointer;
    padding: 3px 10px;
    .product-code {
      width: 90px;
      display: inline-block;
    }
  }
}
.odd-product{
  background: rgb(221, 213, 213);
}
.even-product{
  background: rgb(177, 173, 173);
}
.buttons-container{
  display: flex;
  justify-content: flex-end;
  padding: 5px 20px 5px 0;
}