<app-selected-products
  [selectedProducts]="selectedProducts"
></app-selected-products>
<div>
  <div class="title-container">
    <span class="code">Code</span>
    <span>Description</span>
  </div>
  <ul class="list-container">
    <li
      *ngFor="let search of searched; index as i"
      (click)="onSelect(search)"
      [ngClass]="i % 2===0 ? 'odd-product' : 'even-product'">
      <span class="product-code">{{ search.code }}</span>
      <span>{{ search.name }}</span>
      <span>{{i%2}}</span>
    </li>
  </ul>
</div>
