<div class="selected-products-container">
  <div class="selected-title">Selected Values:</div>
  <div class="selected-products-container">
    <div *ngIf="selectedProducts.length > 0" class="selected-container">
        <div class="selected-product-container" *ngFor="let product of selectedProducts">
          <span class="product-code">{{ product.code }}</span>
            <fa-icon [icon]="faTimesCircle" (click)="removeProduct(product)" class="delete-btn"></fa-icon>
        </div>
    </div>
  </div>
</div>