.selected-products-container {
  display: flex;
  align-items: baseline;
  overflow: auto;
  .selected-title {
    margin: 0 10px;
  }
  .selected-container {
    display: flex;
    margin-left: 5px;
    overflow: auto;
    .selected-product-container {
      display: flex;
      justify-content:start;
      border-radius: 5px;
      font-size: 15px;
      padding: 2px;
      margin-right: 3px;
      background: rgb(168, 205, 247);
      width: 59px;
      .delete-btn {
        cursor: pointer;
        color: white;
        margin-left: 3px;
        text-align: center;
        opacity: 0.8;
      }
    }
  }
}
