.selected-items-container {
  display: flex;
  align-items: baseline;
  .selected-title {
    margin: 0 10px;
  }
  .selected-container {
    display: flex;
    margin-left: 5px;
    overflow: auto;
    .selected-item-container {
      border-radius: 5px;
      padding: 2px;
      margin-right: 3px;
      background: rgb(168, 205, 247);
      .x-item {
        cursor: pointer;
        outline: none;
        border: none;
        background: rgba(0, 0, 0, 0.274);
        color: white;
        margin-left: 3px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
      }
    }
  }
}
