.title-container {
  background: rgb(17, 17, 138);
  color: white;
  padding: 3px 10px;
  margin-top: 10px;
  .code {
    margin-right: 60px;
  }
}
.list-container {
  padding: 2px;
  margin: 0;
  height: 250px;
  overflow: auto;
  > li {
    list-style: none;
    cursor: pointer;
    margin: 3px 10px;
    .item-code {
      width: 90px;
      display: inline-block;
    }
  }
}
